body{
	background-image: /*MAKING THE IMAGE DARKER*/linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(pic1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: center;
	padding-top: 200px;
	padding-left:0%;
	font-family: "Eco", sans-serif;
	font-color:#4CAF50;
}

.login-page{
	width: 360px;
	padding: 10%  0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background: rgba(7, 40, 195,  0,0);
	max-width: 360px;
	/*margin: 0 auto 100px;*/
	/*padding: 45px;*/
	text-align: center;
}

.form input{
	font-family: "Roboto",  sans-serif;
	outline: 1;
	background:f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box -sizing: border-box;
	font-size: 14px;  
}

.form button{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover ,.form button:active{
	background: #43A047;
}

.form .message{
	margin: 15px 0 0;
	color: aliceblue;
	font-size: 12px;
}

.form .message  a{
	/*GREEN color: #008000*/
	color: #43A047;
	font-size: 13px;
	text-decoration: none;
}

.form .register-form{
	display: none;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 40px;
	font-weight: 200;
}
.header div span{
	color: #F29E20  !important;
}

.New_Entry{ 
	width: 360px;
	padding: 10%  0 0;
	margin: auto;
	background: rgba(7, 40, 195,  0,0);
}

.tab tab-1{
	position: relative;
	z-index: 1;
	/*background-color: #ccc;*/
	background: rgba(7, 40, 195,  0,0);
	max-width: 400px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.Diary_Entry input{
	font-family: "Roboto",  sans-serif;
	outline: 1;
	background:f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box -sizing: border-box;
	font-size: 14px;  
}

.container button{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 10px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.container button:hover ,.form button:active{
	background: #43A047;